<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fuzzysearch_front">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- カメラの使用 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_fuzzysearch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_fuzzysearch_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuzzySearch_front"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoginActivity"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
        <!--
 android:screenOrientation=<指定> →
        　　　   端末上のアクティビティの画面の向きを指定したモノにする
             "fullSensor" →
                画面の向きは、端末の方向センサーによって決まり、4 つの画面の向きすべてを使用できます。
                これは "sensor" と似ていますが、端末の通常の動作にかかわらず、4 つの画面の向きすべてを使用できる点が異なります
                （たとえば、一部の端末では通常、反対の縦向きや反対の横向きは使用しませんが、それらの向きも有効になります）。
                API レベル 9 で追加。
        -->
        <!--
 tools:replace=<指定> →
                指定した属性が、優先度の低いマニフェスト内にある場合、このマニフェスト内の属性で置き換えます。
                つまり、優先度の高いマニフェストの値が常に維持されます。
             "screenOrientation" →
                今回一番優先順位の高いモノとして画面の向きの変更が設定されている
        -->
        <activity
            android:name=".sample.TranslatePlus"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation">
            <intent-filter>

                <!-- TextToSpeechのためのサービス使用宣言 -->
                <action android:name="android.intent.action.TTS_SERVICE" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.SampleActivity" />
        <activity android:name=".CreateActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FuzzySearch_front.NoActionBar" />
        <activity
            android:name=".TopActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>